body {
    color: purple;
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    margin: 0% 0%;
}

h2 {
	color: #807f7f;
}

/* TODO */

span.stars, span.stars span {
    display: block;
    background: url(stars.png) 0 -16px repeat-x;
    width: 80px;
    height: 16px;
}

span.stars span {
    background-position: 0 0;
}